/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-color: #dddddd;
  width: 85%;
  margin:auto;
  background-image: url('img/bg.jpg');}

div {
  background-color: #FFF;
  margin-left: auto;
  margin-right:auto;}

p {
  font-family: Arial, sans-serif;
  font-size: 14px;}

#site_header {
  background-color: #ff8523;
  padding: 30px;}

#logo {
}

.main_navigation{
  margin: 10px;}

.main_navigation a{
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: solid 1px #FFF;
  border-radius: 5px;
  margin-right: 2px;
  padding: 10px 30px 10px 30px;}

a{color: #1fabe5}

section{
  border-bottom: solid 4px #eee;}

#page_content{
  padding: 16px;
  border-bottom: solid 1.6px #ffd24a;
  border-left: solid 1.6px #ffd24a;
  border-right: solid 1.6px #ffd24a;}

#page_content h2{
  color: #1fabe5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;}

#page_content h3{
  color: #1fabe5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;}

#page_content li{
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight:bold;
  padding: 2px;}

td img{
  width:30%;
  height: auto;}

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-size: 13px;}

thead td {
  background-color: #1fabe5;
  border: 1px solid #046c97;
  color: white;
  padding: 10px;}

tbody tr td{
  border: 1px solid #1fabe5;
  padding: 10px;}

tbody td:nth-child(2){
  text-align: center;}

section form div{
  background-color: #eee;}

form{
  font-size: 13px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  padding: 15px;
  border: 2px solid #eee;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 30px;}

.name {
  background-color: #ff8523;
  padding: 20px;
  border-radius: 5px;
  border: #eee;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;}

.city_container{
  font-size: 13px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;}

textarea{
  border: 1px solid #1fabe5;
  width: 90%;
  margin-top: 10px;}

#submit_button{
  background-color: #1fabe5;
  border: 1px solid #1fabe5;
  border-radius: 5px;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 13px;
  margin-top: 15px;}
