/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-color: #dddddd;
}

div {
  background-color: #FFF;
  border: solid 1.6px #ffd24a;

}

p {
  font-family: Arial, sans-serif;
  font-size: 14px;}

#site_header {
  background-color: #ff8523;
  padding: 30px;
}

#logo {

}

.main_navigation{
  margin: 10px;
}
.main_navigation a{
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: solid 1px #FFF;
  border-radius: 7px;
  margin-right: 2px;
  padding: 10px 30px 10px 30px;
}

#page_content{
  padding: 16px;
}

#page_content h2{
  color: #1fabe5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}
#page_content h3{
  color: #1fabe5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
